body{
    font-family: 'Lato', sans-serif;
    margin: 0;
}
.orange{
    color: orange;
}
.half-width{
    width: 45%;
    padding: 5%;
}
.half-width img{
    width: 450px;
    height: 500px;
 }
h1{
    font-size: 50px;
}
.top-banner{
    display: flex;
    margin-bottom: 80px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(199, 151, 20) , tomato);
    color: white;
    padding: 10px 35px;
    font-weight: 700;
    border-radius: 20px;
}
.same-divided{
    width: 50%;
}
.same-divided img{
    width: 40%;
    padding-left: 40%;
    padding-top: 10%;
    padding-bottom: 35%;
}
section{
    display: flex;
}
.some-gape-added{
    padding: 5%;
    padding-right: 10%;
    padding-left: 10%;
}
.all-added{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.recipies-added{
    text-align: center;
}
.food-name-added{
    text-align: center;
}
#choklet-food img{
    width: 63%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10%;
    border-radius: 10px;
}
#liquid-food img{
    width: 70%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    border-radius: 10px;
}
#meat-food img{
    width: 70%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    border-radius: 10px;
}
.flexible-container{
    width: 90%;
    margin-left: 4%;
    margin-right: 4%;
    padding: 40px;
    display: flex;
    box-shadow: 10px  gray;
    border-radius: 10px;
}
.all-food{
    width: 300px;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    box-shadow: 1px 7px 20px gray;
}
.live-happy{
    text-align: center;
    width: 100%;
    background-color: black;
    margin-left: 20px;
    margin-right: 20px;   
    padding: 20px 30px 10px 10px;
}
.white{
    color: silver;
}
.gray{
    color: gray;
}