body{
    font-family: 'Lato', sans-serif;
    margin: 0;
}
.orange{
    color: orange;
}
.half-width{
    width: 45%;
    padding: 5%;
}
.half-width img{
    width: 450px;
    height: 500px;
 }
h1{
    font-size: 50px;
}
.top-banner{
    display: flex;
    margin-bottom: 80px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(199, 151, 20) , tomato);
    color: white;
    padding: 10px 35px;
    font-weight: 700;
    border-radius: 20px;
}
.same-divided{
    width: 50%;
}
.same-divided img{
    width: 40%;
    padding-left: 40%;
    padding-top: 10%;
    padding-bottom: 35%;
}
section{
    display: flex;
}
.some-gape-added{
    padding: 5%;
    padding-right: 10%;
    padding-left: 10%;
}
.all-added{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}